@import "tailwindcss";

:root {
  --background: var(--color-brand-white);
  --foreground: var(--color-brand-black);
  font-size: 16px;
}

@theme {
  /* Colors */
  --color-brand-white: #f5f5f5;
  --color-brand-black: #121212;
  --color-brand-gray: #9f9f9f;

  /* Typography */
  --font-sans: var(--font-google-sans-flex), ui-sans-serif, system-ui, sans-serif;
  
  /* Setting base to 16px */
  --text-base: 1rem; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-900);
    --foreground: var(--color-emerald-600);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}
