@import "../../../app/globals.css";

@layer components {
  .Header {
    
    & .nav-link {
      @apply text-[#cbd5e1] transition-colors duration-200;
      
      &:hover {
        color: #0ea5a4;
      }
    }
  }
}
